<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/static/style/index-style.css">
    <link rel="icon" href="/static/pictures/favicon.ico" type="image/x-icon">
</head>
<body>
    <button class="menu-toggle" onclick="toggleSidebar()">☰</button>

    <div class="sidebar visible">

        <button class="close-menu" onclick="toggleSidebar()">×</button>

        <div class="menu">
            <div class="widget" onclick="sendGetRequest()">
                <div class="icon-count-container">
                    <div class="icon" style="background-color: #E94E77; background-image: url('/static/pictures/planning.png'); background-size: cover;"></div>
                    <div class="count" style="padding-right: 0px;">{{data_count}}</div>
                </div>
                <div class="text" style="padding-top: 20px;padding-bottom: 0px;">В планах</div>
            </div>
            <div class="widget" onclick="sendPostToday('today')">
                <div class="icon-count-container">
                    <div class="icon" style="background-color: #4A90E2; background-image: url('/static/pictures/calendar.png'); background-size: cover;"></div>
                    <div class="count" style="padding-right: 0px;">{{data_count_all_completion_date}}</div>
                </div>
                <div class="text" style="padding-top: 20px;padding-bottom: 0px;">Сегодня</div>
            </div>
            <div class="widget">
                <div class="icon-count-container">
                    <div class="icon" style="background-color: #C2C2C2; background-image: url('/static/pictures/mail.png'); background-size: cover;"></div>
                    <div class="count" style="padding-right: 0px;">{{data_count_all_checkbox_false}}</div>
                </div>
                <div class="text" style="padding-top: 20px;padding-bottom: 0px;">Все</div>
            </div>
            <div class="widget" onclick="sendPostPriority('priority')">
                <div class="icon-count-container">
                    <div class="icon" style="background-color: #F5A623; background-image: url('/static/pictures/flag.png'); background-size: cover;"></div>
                    <div class="count" style="padding-right: 0px;">{{data_count_all_priority}}</div>
                </div>
                <div class="text" style="padding-top: 20px;padding-bottom: 0px;">С флажком</div>
            </div>
            <div class="widget" onclick="sendPostCompleted('completed')">
                <div class="icon-count-container">
                    <div class="icon" style="background-color: #9B9B9B; background-image: url('/static/pictures/checkmark.png'); background-size: cover;"></div>
                    <div class="count" style="padding-right: 0px;">{{data_count_all_checkbox_true}}</div>
                </div>
                <div class="text" style="padding-top: 20px;padding-bottom: 0px;">Завершено</div>
            </div>
            <div class="widget" onclick="sendPostUser('user')">
                <div class="icon-count-container">
                    <div class="icon" style="background-color: #7ED321; background-image: url('/static/pictures/user.png'); background-size: cover;"></div>
                    <div class="count" style="padding-right: 0px;">{{data_count_all_user_name}}</div>
                </div>
                <div class="text" style="padding-top: 20px;padding-bottom: 0px;">Назначено</div>
            </div>
        </div>
        <div class="list">
            <label for="my-list">
                <span>Мои списки</span>
                {% if data_filter == 'today' %}
                    <span class="today-f">Ф: Сегодня</span>
                    <button class="close-f" onclick="sendPostDeleteFilter('today')">×</button>
                {% endif %}
                {% if data_filter == 'priority' %}
                    <span class="priority-f">Ф: С флажком</span>
                    <button class="close-f" onclick="sendPostDeleteFilter('priority')">×</button>
                {% endif %}
                {% if data_filter == 'user' %}
                    <span class="user-f">Ф: Назначено</span>
                    <button class="close-f" onclick="sendPostDeleteFilter('user')">×</button>
                {% endif %}
            </label>

            <div class="list-spisok">
                <button class="home-button" onclick="updateContent('Дом')">Дом</button>
                <button class="store-button" onclick="updateContent('Покупки')">Покупки</button>
                <button class="universitet-button" onclick="updateContent('Учеба')">Учеба</button>
            </div>
        </div>
    </div>
    <div class="divider"></div>

    <script>

        function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('visible');
        }

        async function updateContent(section) {
            const contentData = {
                title: section
            };
    
            const response = await fetch("/update_content", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(contentData)
            });
            
            const result = await response.json();

            if (response.ok){
                window.location.href = result.data;
            }
        }
    </script>

    <!-- <script src="/static/script_notification.js?v=1.0"></script> -->
    <script src="/static/script_plan.js?v=1.0"></script>
    <script src="/static/script_filter.js?v=1.0"></script>

    <script type="text/javascript" src="//www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
    <script type="text/javascript" src="/firebase-messaging-sw.js"></script>
</body>
</html>
