<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/static/style/index-style.css">
    <link rel="stylesheet" href="/static/style/modal_plan.css">
    <link rel="stylesheet" href="/static/style/menu-task-plan.css">
    <link rel="icon" href="/static/pictures/favicon.ico" type="image/x-icon">
</head>
<body>
    <button class="menu-toggle" onclick="toggleSidebar()">☰</button>

    <div class="sidebar">

        <button class="close-menu" onclick="toggleSidebar()">×</button>

        <div class="menu">
            <div class="widget" onclick="sendGetRequest()">
                <div class="icon-count-container">
                    <div class="icon" style="background-color: #E94E77; background-image: url('/static/pictures/planning.png'); background-size: cover;"></div>
                    <div class="count" style="padding-right: 0px;">{{data_count}}</div>
                </div>
                <div class="text" style="padding-top: 20px;padding-bottom: 0px;">В планах</div>
            </div>
            <div class="widget">
                <div class="icon-count-container">
                    <div class="icon" style="background-color: #4A90E2; background-image: url('/static/pictures/calendar.png'); background-size: cover;"></div>
                    <div class="count" style="padding-right: 0px;">{{data_count_all_completion_date}}</div>
                </div>
                <div class="text" style="padding-top: 20px;padding-bottom: 0px;">Сегодня</div>
            </div>
            <div class="widget">
                <div class="icon-count-container">
                    <div class="icon" style="background-color: #C2C2C2; background-image: url('/static/pictures/mail.png'); background-size: cover;"></div>
                    <div class="count" style="padding-right: 0px;">{{data_count_all_checkbox_false}}</div>
                </div>
                <div class="text" style="padding-top: 20px;padding-bottom: 0px;">Все</div>
            </div>
            <div class="widget">
                <div class="icon-count-container">
                    <div class="icon" style="background-color: #F5A623; background-image: url('/static/pictures/flag.png'); background-size: cover;"></div>
                    <div class="count" style="padding-right: 0px;">{{data_count_all_priority}}</div>
                </div>
                <div class="text" style="padding-top: 20px;padding-bottom: 0px;">С флажком</div>
            </div>
            <div class="widget">
                <div class="icon-count-container">
                    <div class="icon" style="background-color: #9B9B9B; background-image: url('/static/pictures/checkmark.png'); background-size: cover;"></div>
                    <div class="count" style="padding-right: 0px;">{{data_count_all_checkbox_true}}</div>
                </div>
                <div class="text" style="padding-top: 20px;padding-bottom: 0px;">Завершено</div>
            </div>
            <div class="widget">
                <div class="icon-count-container">
                    <div class="icon" style="background-color: #7ED321; background-image: url('/static/pictures/user.png'); background-size: cover;"></div>
                    <div class="count" style="padding-right: 0px;">{{data_count_all_user_name}}</div>
                </div>
                <div class="text" style="padding-top: 20px;padding-bottom: 0px;">Назначено</div>
            </div>
        </div>
        <div class="list">
            <label for="my-list">
                <span>Мои списки</span>
            </label>

            <div class="list-spisok">
                <button class="home-button" onclick="updateContent('Дом')">Дом</button>
                <button class="store-button" onclick="updateContent('Покупки')">Покупки</button>
                <button class="universitet-button" onclick="updateContent('Учеба')">Учеба</button>
            </div>
        </div>
    </div>
    <div class="divider"></div>

    <div class="main-content">
        
        <div class="task-section" style="margin-top: 10px;">
            <div class="task-column">
                <div class="task-column-plan">
                    <h2 style="margin-bottom: 0px;">В планах</h2>
                    <div class="iconplan" id="plan1" style="background-color: #1E1E1E; background-image: url('/static/pictures/vote_time.png'); background-size: cover;"></div>
                </div>

                <div id="taskModalPlan" class="modal">
                    <div class="modal-content">
                        <span class="close-button" id="plan1" onclick="toggleModal(event)">&times;</span>
                        <h2 style="font-size: 18px;">Добавить новый план</h2>
                        <textarea id="task-text-plan" rows="3"></textarea>
                
                        <div class="assignee-wrapper">
                            <button class="add-button-plan" id="plan1" onclick="addTaskPlan(event)">✔</button>
                        </div>
                    </div>
                </div>
                {% for p in data_plan %}
                <div class="task-item">
                    <input type="checkbox" id="{{p[0]}}-task-{{p[1]}}">
                    <label for="{{p[0]}}-task-{{p[1]}}">
                        {% for t in p[2]%}
                        <p>{{t}}</p>
                        {% endfor %}
                    </label>
                    <div data-id="{{p[0]}}-task-{{p[1]}}" class="task-container">
                        <div class="icon-list" data-toggle="dropdown"></div>
                        <div class="dropdown-menu" style="display: none; right: 37px; top: 10px;">
                            <ul>
                                <li class="menu-item" id="{{p[0]}}-{{p[1]}}-1">Удалить план</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

            <!-- Разметка модального окна -->
        <div class="modal-overlay-o" id="modal-main" style="display: none;">
            <div class="modal-o">
                <h3 style="margin-top: 7px;">Переместить</h3>
                <button class="modal-btn" data-next="modal-home">Дом</button>
                <button class="modal-btn" data-next="modal-shopping">Покупки</button>
                <button class="modal-btn" data-next="modal-study">Учёба</button>
            </div>
        </div>

        <div class="modal-overlay-o" id="modal-home" style="display: none;">
            <div class="modal-o">
                <h3 style="margin-top: 7px;">Переместить в...</h3>
                <button class="modal-btn" id="urgent">Срочные дела</button>
                <button class="modal-btn" id="normal">Обычные дела</button>
                <button class="modal-btn" id="regular" style="margin-bottom: 0px;">Регулярные дела</button>
                <label class="modal-back-o">←</label>
            </div>
        </div>

        <div class="modal-overlay-o" id="modal-shopping" style="display: none;">
            <div class="modal-o">
                <h3 style="margin-top: 7px;">Переместить в...</h3>
                <button class="modal-btn" id="today">Сегодня</button>
                <button class="modal-btn" id="week">На неделе</button>
                <button class="modal-btn" id="month" style="margin-bottom: 0px;">В течении месяца</button>
                <label class="modal-back-o">←</label>
            </div>
        </div>

        <div class="modal-overlay-o" id="modal-study" style="display: none;">
            <div class="modal-o">
                <h3 style="margin-top: 7px;">Переместить в...</h3>
                <button class="modal-btn" id="homework">Домашние задачи</button>
                <button class="modal-btn" id="exam" style="margin-bottom: 0px;">Экзамены</button>
                <label class="modal-back-o">←</label>
            </div>
        </div>

    </div>

    <script>

        function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('visible');
        }

        async function updateContent(section) {
            const contentData = {
                title: section
            };
    
            const response = await fetch("/update_content", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(contentData)
            });
            
            const result = await response.json();

            if (response.ok){
                window.location.href = result.data;
            }
        }
    </script>
    <script src="/static/script_plan.js?v=1.0"></script>
    <script src="/static/script_menu_plan.js?v=1.0"></script>
    <script src="/static/script_checkbox_plan.js?v=1.0"></script>
    <script src="/static/script_modal_plan.js?v=1.0"></script>
</body>
</html>
